
.DS_Store
/.idea

/data_preparation/cleaned_datasets_2020
/data_preparation/cleaned_datasets_2022
/data_preparation/cleaned_datasets_2023
/data_preparation/cleaned_datasets_2024
/data_preparation/subreddits_csv
/data_preparation/subreddits_zst
/posts_categorization/llm_results
/posts_categorization/linked_submissions_comments
/posts_categorization/concatenated_linked_datasets
/posts_categorization/archived_2022




