
.DS_Store
/.idea

/data_preparation/cleaned_datasets_2022
/data_preparation/cleaned_datasets_2023
/data_preparation/cleaned_datasets_all
/data_preparation/linked_datasets_2022_2023
/data_preparation/linked_datasets_all
/posts_categorization/results
/data_preparation/subreddits_csv
/data_preparation/subreddits_zst